.flex-item {
    width: 100px;
    height: 100px;
    color: red;
    font-size: 2em;
}

.flex-item {
    width: 100px;
    height: 100px;
    color: blue;
    font-size: 2em;
}

.flex-item {
    width: 100px;
    height: 100px;
    color: green;
    font-size: 2em;
}

.flex-item {
    width: 100px;
    height: 100px;
    color: orange;
    font-size: 2em;
}

.flex-item {
    width: 100px;
    height: 100px;
    color: purple;
    font-size: 2em;
}